@font-face {
  font-family: trashed;
  src: url(font/TRASHED.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: trashed;
}

body {
 background-image: url(image/fondo.jpg);
  background-size: cover;
}

.logo {
  width: 30%;
  height: auto;
}

.carru {
  width: 300px;
  height: 300px;
}